.browse-by-director {
  .movie-thumbnail-grid-wrap {
    padding-top: 0;

    .movie-thumbnail-grid-title {
      text-align: left;
            
      @media (min-width: 769px) {
        padding-top: 0;
      }
    }
  }
}