$cubic-bezier: .2s cubic-bezier(0.4, 0.0, 0.2, 1);
@mixin transition() {
  -webkit-transition: all $cubic-bezier;
  transition: all $cubic-bezier;
}

.navbar {
  &.is-black {
    background-color: #13101a;

    &> .container {
      .navbar-menu {
        @media (min-width: 1024px) {
          margin-right: 0;
        }
        @media (max-width: 1023px) {
          box-shadow: 0 0.5em 0.5em -0.125em rgba(10, 10, 10, 0.5);
        }
      }
    }
  }
  
  .navbar-brand {
    padding-left: 1.5rem !important;
    margin-left: 0 !important;
    @media (min-width: 1024px) {
      padding-left: 0 !important;
    }

    .navbar-item {
      padding-left: 0;

      &:hover,
      &:focus {
        background-color: transparent !important;
      }      

      .navbar-brand-text {
        font-size: 16px;
        line-height: 1;
        font-weight: 800;

        @media (max-width: 768px) {
          font-size: 24px;
        }

        span {
          font-size: 11px;
          color: #dedede;
          font-weight: 400;
        }
      }
    }

    .navbar-burger {
      outline: none;
      width: 4.75rem;

      &:before {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        border: 2px solid #dc2d43;
        border-radius: 50%;
        top: 50%;
        right: 50%;
        -webkit-transform: translateX(50%) translateY(-50%) scale(.2);
        transform: translateX(50%) translateY(-50%) scale(.2);
        opacity: 0;
        border: 2px solid #dc2d43;
        @include transition();
        z-index: -1;
      }

      span {
        height: 2px;
        border-radius: 1px;
        width: 27px;
        left: unset;
        right: 1.5rem;
        @include transition();
      }

      &:hover {
        &:before {
          -webkit-transform: translateX(50%) translateY(-50%) scale(1.3);
          transform: translateX(50%) translateY(-50%) scale(1.3);
          opacity: 1;
        }
      }

      &.is-active {
        span{
          &:nth-child(1) {
            width: 16px;
            transform: translateX(0px) translateY(-2px) rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 1;
            transform: translateX(0px) translateY(0px) rotate(90deg);
          }

          &:nth-child(3) {
            width: 16px;
            transform: translateX(-11px) translateY(-12px) rotate(-45deg);
          }
        }
      }
    }
  }

  .navbar-item {
    text-transform: uppercase;

    &.is-mega {
      .navbar-link {
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: #13101a !important;
        position: relative;
        @include transition();

        svg {          
          margin: 0 0 0 8px;
          width: 24px;
          height: 24px;
          @include transition();

          &:nth-child(1) {
            opacity: 1;
            transform: scale(1);
          }
      
          &:nth-child(2) {
            opacity: 0;
            position: absolute;
            right: 11px;
            top: 12px;
          }          
        }

        &:hover,
        &:focus {
          color: #dc2d43 !important;
          outline: none;
          @media (max-width: 1023px) {
            color: #efefef !important;
          }

          svg {
            &:nth-child(1) {
              opacity: 0;
              transform: scale(1.6);
            }
        
            &:nth-child(2) {
              opacity: 1;
            }
          }
        }

        @media (max-width: 1023px) {
          padding-left: 1.5rem;
          color: #efefef !important;
          cursor: unset;
          
          svg {
            display: none;
          }
        }
      }

      .navbar-dropdown {
        background-color: #1a1824;
        position: static;
        border-top: 0;
        @media (min-width: 1024px) {
          position: fixed;
          left: 0;
          right: 0;
          top: 3.25rem;
          box-shadow: 0 0.5em 0.5em -0.125em rgba(10, 10, 10, 0.5);
          border-radius: 0;
        }

        .nav-inline-wrap {
          padding: 3rem 0;
          @media (max-width: 1023px) {
            padding: 0 1.5rem;
          }

          .navbar-item {
            display: inline-flex;
            background-color: #dc2d43;
            color: #efefef !important;
            border: 1px solid #dc2d43;
            border-radius: 5px;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 10px 30px;
            height: auto;
            line-height: 24px;
            margin: 0 .5rem .5rem 0;
            @include transition();
            @media (max-width: 480px) {
              padding: 5px 8px;
              line-height: 13px;
            }

            &:hover {
              background-color: #13101a;
              color: #dc2d43 !important;
              box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.8);
            }
          }
        }
      }

      &.is-active {
        .navbar-link {
          svg {
            transform: rotate(180deg);
          }
          @media (min-width: 1024px) {
            background-color: #1a1824 !important;
          }
        }
      }
    }

    &.has-dropdown {      
      .navbar-dropdown {
        @media (min-width: 1024px) {     
          @include transition();
          opacity: 0;
          visibility: hidden;
          display: block;
        }
      }      

      &.is-active {
        @media (min-width: 1024px) {
          .navbar-dropdown { 
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  @media (max-width: 1023px) {
    .navbar-menu {
      background-color: #13101a;
    }
  }
}